[user]
	name = genuinebyte
	email = bja@genuinebyte.com
	signingkey = DBE9A9AD1265B98C

[core]
	editor = vim

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --oneline --graph --decorate
