[user]
	name = genuinebyte
	email = bja@genuinebyte.com
	signingkey = E64FD2862E55B22C

[core]
	editor = vim

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --oneline --graph --decorate
